<div class="container body-erros">
    <div class="row justify-content-md-center">
        <div class="col">   
            <div class="alert alert-danger" role="alert">
                Erro ao concluir esta tarefa! Por favor tente novamente!
            </div>
            <a href="/home" class="btn btn-danger btn-login">Voltar para home</a>
        </div>
    </div>
</div>