<div class="container body-register">
    <div class="row justify-content-md-center">
        <div class="col">
            <center><h2>Cadastre-se</h2></center>
            <hr>    
            <form action="/user/register" method="POST">
                <div class="form-group">
                    <label for="name_login">Nome de usuário:</label>
                    <input type="text" class="form-control" id="name_login" name="name_login" placeholder="Digite um nome de usuário para seu cadastro" required>
                </div>
                <div class="form-group">
                    <label for="email_login">Email de usuário:</label>
                    <input type="email" class="form-control" id="email_login" name="email_login" placeholder="Digite um email de usuário para seu cadastro" required>
                </div>
                <div class="form-group">
                    <label for="pass_login">Senha de usuário:</label>
                    <input type="password" class="form-control" id="pass_login" name="pass_login" minlength="4" maxlength="20" placeholder="Digite uma senha de usuário para seu cadastro" required>
                </div>
                <button type="submit" class="btn btn-success btn-login">Cadastrar</button>
                <a href="/" class="btn btn-danger btn-login">Voltar ao login</a>
            </form>
        </div>
    </div>
</div>