<div class="container body-login">
    <div class="row justify-content-md-center">
        <div class="col">
            <center><h2>Login</h2></center>
            <hr>    
            <form action="" method="POST">
                <div class="form-group">
                    <label for="name-login">Usuário:</label>
                    <input type="email" class="form-control" id="name-login" name="name-login" placeholder="Digite seu nome de usuário para efetuar login" required>
                </div>
                <div class="form-group">
                    <label for="pass-login">Senha:</label>
                    <input type="password" class="form-control" id="pass-login" name="pass-login" placeholder="Digite sua senha de usuário para efetuar login" required>
                </div>
                <button type="submit" class="btn btn-success btn-login">Acessar</button>
                <a href="register/user" class="btn btn-primary btn-login">Cadastrar</a>
            </form>
        </div>
    </div>
</div>