<div class="container body-erros">
    <div class="row justify-content-md-center">
        <div class="col">   
            <div class="alert alert-danger" role="alert">
                Erro ao cadastrar esta categoria de tarefa! Por favor tente novamente!
            </div>
            <a href="/register/category" class="btn btn-danger btn-login">Voltar para o cadastro</a>
        </div>
    </div>
</div>