<div class="container body-activity">
    <div class="row justify-content-md-center">
        <div class="col">
            <center><h2>Cadastrar uma categoria de tarefa</h2></center>
            <hr>    
            <form action="" method="POST">
                <div class="form-group">
                    <label for="category">Nome da categoria de tarefa:</label>
                    <input type="text" class="form-control" id="category" name="category" placeholder="Digite o nome da categoria para as tarefas" required>
                </div>
                <button type="submit" class="btn btn-success btn-login">Cadastrar</button>
                <a href="/home" class="btn btn-danger btn-login">Voltar ao home</a>
            </form>
        </div>
    </div>
</div>